* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
body header .img {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
}
body header .img img {
  width: 118px;
  height: 15px;
}
body header nav {
  margin-right: 100px;
  margin-top: 40px;
}
body header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body header nav ul li a:hover {
  text-decoration: underline;
}
body .xx {
  background-color: #282828;
  margin-top: 100px;
  height: 400px;
}
body .xx .qq .s p, body .xx .qq .l p, body .xx .qq .k p {
  color: white;
  font-size: 23px;
  width: 1000px;
}
body .xx .qq .s {
  position: relative;
  top: 36px;
  line-height: 35px;
}
body .xx .qq .l {
  margin-top: 70px;
  line-height: 35px;
}
body .xx .qq .k {
  margin-top: 50px;
  line-height: 35px;
}
body .xx .qq .k a {
  color: white;
}
body .conteiner {
  padding-bottom: 100px;
  border-bottom: 1px solid black;
  margin-left: 30px;
  margin-top: 100px;
}
body .conteiner p {
  font-size: 20px;
}
body .conteiner .ee .h1 h1 {
  font-size: 50px;
}
body .conteiner .ee .ww p {
  margin-top: 30px;
}
body .conteiner .ee .jj p {
  margin-top: 30px;
}
body .conteiner .mb .z h2 {
  margin-top: 30px;
}
body .conteiner .mb .rr {
  margin-top: 24px;
}
body .conteiner .bn .six h2 {
  margin-top: 30px;
}
body .conteiner .bn .g {
  margin-top: 25px;
}
body .conteiner .li ul {
  margin-top: 30px;
  font-size: 20px;
  list-style: disc;
  margin-left: 20px;
}
body .conteiner .y .h2 h2 {
  margin-top: 30px;
}
body .conteiner .y .messi p {
  margin-top: 30px;
}
body .conteiner .ronaldo .ney h2 {
  margin-top: 30px;
}
body .conteiner .ronaldo .kubarsi p {
  margin-top: 30px;
}
body .conteiner .marcelo .r9 h2 {
  margin-top: 30px;
}
body .conteiner .marcelo .kvara p {
  margin-top: 30px;
}
body .conteiner .ronaldinho .budu ul {
  margin-top: 30px;
  font-size: 18px;
  margin-left: 20px;
}
body footer {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
body footer .h-9 {
  margin-left: 100px;
}
body footer .ll {
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
}
body footer .ll button {
  padding: 12px 25px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}
body footer .ll button:hover {
  background-color: black;
  color: white;
}
body footer .aa {
  margin-top: 100px;
}
body footer .aa input {
  border-radius: 20px;
  font-size: 30px;
  border: 1px solid black;
}
body footer .aa label {
  position: relative;
  bottom: 45px;
  left: 98px;
}
body footer .button a {
  border: none;
  background-color: white;
  position: relative;
  font-size: 20px;
  top: 130px;
  text-decoration: none;
  color: #333;
}
body footer .button a:hover {
  text-decoration: underline;
}
body .pp {
  position: relative;
  left: 80%;
  bottom: 100px;
}
body .pp .f {
  position: relative;
  bottom: 60px;
}
body .pp .g {
  position: relative;
  bottom: 20px;
}
body .pp .icon {
  font-size: 24px;
}
body .pp .m {
  position: relative;
  top: 30px;
}

.btnn1 {
  left: 100px;
}

.btnn2 {
  left: 120px;
}

.btnn3 {
  left: 140px;
}

.btnn4 {
  left: 160px;
}/*# sourceMappingURL=at.css.map */