*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$padding: 12px 25px;
$border-r: 30px;
body{
    overflow-x: hidden;
    font-family: sans-serif;
     header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .img{
        
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 50px;

        img{
            width: 118px;
            height: 15px;
        }
    }

    nav{

        margin-right: 100px;
        margin-top: 40px;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;

            li{
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.com{
    padding-bottom: 100px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .h1{
        font-size: 34px;
        width: 600px;
        margin-left: 50px;

    }
    .p{
        margin-right: 50px;
        margin-top: 100px;
        width: 240px;
    }


}
section{
    position: relative;
    right:  300px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: sans-serif;
    .imgg{
        img{
            width: 600px;
            position: relative;
            left: 800px;
            bottom: 550px;
        
        }
    }
    h2{
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .row{
            display: flex;
            gap: 20px;

        }
        .input{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;

        }
        label{
            font-size: 14px;
            color: #333;
        }
        input, textarea{
            padding: 15px;
            border: 1px solid black;
            border-radius: 25px;
            outline: none;
            font-size: 16px;
            
        }
        textarea{
            height: 120px;
            border-radius: 15px;
            resize: none;
        }
        button{
            width: fit-content;
            padding: 12px 60px ;
            background-color: transparent;
            border: 1ps solid black;
            border-radius: 25px;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s;
        }
    }
}

footer{
        display: flex;
        flex-direction: column;
                
        position: relative;
        bottom: 400px;
        padding: 100px;
        border-top: 1px solid black;
        
        margin-top: 150px;
        .h-9{
            margin-left: 100px;
        }
        .ll{
            margin-left: 100px;
            margin-top: 20px;
            display: flex;
            
            button{
                padding: $padding;
                border-radius: $border-r;
                background-color: white;
                border: 1px solid black;
                transition: all 0.3s ease;

                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
        .aa{
            margin-top: 100px;
            input{
                border-radius: 20px;
                font-size: 30px;
                border: 1px solid black;
            }
            label{
                position: relative;
                bottom: 45px;
                left: 98px;

            }
        }

        .button{
            a{
                border: none;
                background-color: white;
                position: relative;
                font-size: 20px;
                top: 130px;
                text-decoration: none;
                color: #333;
                &:hover{
                    text-decoration: underline;
                }
            }

        }
    }
    .pp{
        position: relative;
        left: 80%;
        bottom: 100px;


        .f{
            position: relative;
            bottom: 60px;
        }
        .g{
            position: relative;
            bottom: 20px;
        }
        .icon{
            font-size: 24px;
        }
        .m{
            position: relative;
            top: 30px;
        }
    }

}

.btnn1{
    left: 100px;

}
.btnn2{
    left: 120px;

}
.btnn3{
    left: 140px;
}
.btnn4{
    left: 160px;
}
@media(max-width : 767px){
    body{
    
        header{
            nav{
                ul{
                    display: none;
                }
            }
        }
        .navbar{
            width: 100px;
            position: relative;
            left: 400px;
            bottom: 33px;
            a{
                color: white;
            }
        }
        .com{
            .p{
                p{
                    position: relative;
                    right: 190px;
                    width: 300px;
                }
            }
        }
        section{
            .imgg{
                position: relative;
                top: 590px;
                right: 760px;
                img{
                    height: 300px;
                    width: 400px;    
                    object-fit: cover;            
                }
            }
            
            position: relative;
            left:10px;
            form{
                .row{
                    display: flex;
                    flex-direction: column;
                }
                button{
                    width: 300px;
                    margin-left: 70px;
                }
            }
        }

                footer{
                    position: relative;
                    top: 100px;
            display: flex;
            flex-direction: column;
            right: 50px;
            .h-9{
                width:  600px;
                position: relative;
                right: 100px;
            }
            .ll{
                display: flex;
                button{
                    position: relative;
                    width: 200px;
                }
                input{
                    position: relative;
                    right: 140px;
                    top: 30px;
                }
                flex-direction: column;
            }
            .button{
                position: relative;
                top: 240px;
                right: 150px;
                display: flex;
                flex-direction: column;
                .lol{
                    position: relative;
                    right: 3px;
                }
                .kok{
                    position: relative;
                    right: 24px;
                }
                .bob{
                    position: relative;
                    right: 40px;
                }
                .mom{
                    position: relative;
                    left: 20px;
                }
            }
            .pp{
                .f{
                     position: relative;
                     top: 50px;
                     right: 300px;
                }
                .g{
                    position: relative;
                    top: 80px;
                    right: 300px;
                }
                .icon{
                    position: relative;
                    top: 100px;
                    right: 300px;

                }
                .m{
                    position: relative;
                    top: 350px;
                    right: 300px;
                    padding-bottom: 100px;
                }
            }
        }
    }
}