* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
body header .img {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
}
body header .img img {
  width: 118px;
  height: 15px;
}
body header nav {
  margin-right: 100px;
  margin-top: 40px;
}
body header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body header nav ul li a:hover {
  text-decoration: underline;
}
body .conteiner {
  margin-left: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}
body .conteiner .com .h1 h1 {
  font-size: 60px;
}
body .conteiner .com .h2 {
  font-size: 25px;
}
body .conteiner .com .p12 p {
  font-size: 20px;
  width: 840px;
}
body .conteiner .con .h3 h2 {
  font-size: 40px;
}
body .conteiner .con .p0 p {
  font-size: 20px;
  width: 840px;
}
body .conteiner .con .p0 .pp10 {
  margin-top: 25px;
}
body .conteiner .cob .h4 h2 {
  font-size: 40px;
}
body .conteiner .cob .p22 .pppp {
  font-size: 20px;
  width: 840px;
}
body .conteiner .cob .p333 .pppp3 {
  font-size: 20px;
  width: 840px;
}
body .conteiner .cob .p333 .pppp3 a {
  color: black;
}
body footer {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
body footer .h-9 {
  margin-left: 100px;
}
body footer .ll {
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
}
body footer .ll button {
  padding: 12px 25px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}
body footer .ll button:hover {
  background-color: black;
  color: white;
}
body footer .aa {
  margin-top: 100px;
}
body footer .aa input {
  border-radius: 20px;
  font-size: 30px;
  border: 1px solid black;
}
body footer .aa label {
  position: relative;
  bottom: 45px;
  left: 98px;
}
body footer .button a {
  border: none;
  background-color: white;
  position: relative;
  font-size: 20px;
  top: 130px;
  text-decoration: none;
  color: #333;
}
body footer .button a:hover {
  text-decoration: underline;
}
body .pp {
  position: relative;
  left: 80%;
  bottom: 100px;
}
body .pp .f {
  position: relative;
}
body .pp .g {
  position: relative;
}
body .pp .icon {
  font-size: 24px;
}
body .pp .m {
  position: relative;
}

.btnn1 {
  left: 100px;
}

.btnn2 {
  left: 120px;
}

.btnn3 {
  left: 140px;
}

.btnn4 {
  left: 160px;
}

@media (max-width: 767px) {
  body header nav {
    display: none;
  }
  body .navbar {
    width: 100px;
    position: relative;
    left: 400px;
    bottom: 40px;
    background-color: white !important;
  }
  body .navbar a {
    color: white;
  }
  body .comteiner .com .h1 h1 {
    font-size: 10px !important;
  }
  body footer {
    height: 100px !important;
    position: relative;
    display: flex !important;
    flex-direction: column !important;
  }
  body footer .h-9 h2 {
    font-size: 20px;
    position: relative;
    right: 70px;
  }
  body footer .aa {
    position: relative;
    right: 70px;
  }
  body footer .ll {
    display: flex;
    flex-direction: column;
  }
  body footer .ll input {
    position: relative;
    right: 240px;
    top: 30px;
  }
  body footer .ll button {
    width: 190px;
    position: relative;
    right: 30px;
    top: 20px;
  }
  body footer .pp {
    position: relative;
    top: 120px;
  }
  body footer .pp .f {
    position: relative;
    right: 400px !important;
    bottom: 100px !important;
  }
  body footer .pp .g {
    position: relative;
    right: 400px !important;
    bottom: 90px;
  }
  body footer .pp .icon {
    position: relative;
    right: 400px !important;
    bottom: 70px;
  }
  body footer .pp .m {
    position: relative;
    top: 100px;
    right: 400px;
    bottom: 90px !important;
    padding-bottom: 50px;
  }
  body footer .button {
    position: relative !important;
    right: 90px !important;
    top: 270px !important;
  }
  body footer .button .lol {
    position: relative;
    right: 3px;
  }
  body footer .button .kok {
    position: relative;
    right: 24px;
  }
  body footer .button .bob {
    position: relative;
    right: 40px;
  }
  body footer .button .mom {
    position: relative;
    left: 20px;
  }
  body footer .button {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    right: 70px;
    bottom: 90px !important;
  }
  body .navbar {
    position: relative;
    bottom: 30px;
    left: 400px;
    width: 100px;
    background-color: white !important;
  }
  body .navbar a {
    color: white;
  }
  body .conteiner .com .p12 p {
    font-size: 15px;
    width: 480px;
  }
  body .conteiner .con .p0 p {
    font-size: 15px;
    width: 480px;
  }
  body .conteiner .cob .p22 .pppp {
    font-size: 15px;
    width: 480px;
  }
  body .conteiner .cob .p333 .pppp3 {
    font-size: 15px;
    width: 480px;
  }
}/*# sourceMappingURL=pp.css.map */